@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://edulearn-lms-admin-template.multipurposethemes.com/images/favicon.ico">

	<title>ProLearn - 403 Forbidden! </title>
	<link rel="stylesheet" href="~/Assets/css/vendors_css.css">
	<link rel="stylesheet" href="~/Assets/css/style.css">
	<link rel="stylesheet" href="~/Assets/css/skin_color.css">

</head>
<body class="hold-transition light-skin theme-primary bg-img" style="background-image: url(../../../images/auth-bg/bg-17.png); background-position: bottom right">

	<section class="error-page h-p100">
		<div class="container h-p100">
			<div class="row h-p100 align-items-center justify-content-center text-center">
				<div class="col-lg-7 col-md-10 col-12">
					<div class="rounded10 p-50">
						<h1 class="fs-100" style="color:red">403</h1>
						<h1>Forbidden!</h1>
						<h3 class="text-fade">looks like, Unauthorized</h3>
						<div class="my-30"><a href="index.html" class="btn btn-primary">Back to dashboard</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/Assets/js/vendors.min.js"></script>
	<script src="~/Assets/js/pages/chat-popup.js"></script>
	<script src="~/Assets/icons/feather-icons/feather.min.js"></script>
</body>
</html>

