<div class="container" style="margin-left: 30px; margin-top: 30px;">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="Create" class="ml-2">
                <div class="row mb-3">
                    <div class="col">
                        <input name="Name" type="text" class="form-control" placeholder="Name" id="firstnameInput" style="background-color: white;" required>
                    </div>
                    <div class="col">
                        <input name="Class" type="text" class="form-control" placeholder="Class" id="lastnameInput" style="background-color: white;" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-sm">Create</button>
            </form>
        </div>
    </div>
</div>
