@using StudentManagment.Application.Features.Queries.Lesson
@model IList<GetAllLessonQueryResponse>;

<div class="container" style="margin-left:30px;margin-top:30px">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="Create" class="ml-2">
                <div class="row mb-3">
                    <div class="col">
                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" id="firstnameInput" style="background-color: white;">
                    </div>
                    <div class="col">
                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" id="lastnameInput" style="background-color:white">
                    </div>
                    @if (Model.Count != 0)
                    {
                        <div class="col">
                            <div class="btn-group">
                                <button type="button" id="dropdownButton" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Lesson
                                </button>
                                <ul class="dropdown-menu">

                                    @foreach (var lesson in Model)
                                    {
                                        <li><a class="dropdown-item" href="#" onclick="setSelectedLesson('@lesson.Code','@lesson.Name')">@lesson.Name</a></li>
                                    }
                                    <input name="LessonCode" type="hidden" id="selectedLessonCodeInput" />
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <button type="submit" class="btn btn-success btn-sm">Create</button>
            </form>
        </div>
    </div>
</div>

<script>
    function setSelectedLesson(lessonCode,lessonName) {
        document.getElementById('selectedLessonCodeInput').value = lessonCode;
        document.getElementById('dropdownButton').innerText = lessonName;
    }
</script>
